.contact-information {
  background-color: #333333;
  padding: 20px 10px;
  margin-top: 20px;
  color: white;
}
.profile-container {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 100px;
}
.profile-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.info {
  background-color: #333333;
  color: white;
  padding: 50px 20px;
  text-align: center;
}
.info ul {
  list-style-type: none;
  padding: 0;
  gap: 10px;
}
.info ul img {
  background-color: white;
  border-radius: 20%;
}
.info img {
  width: 40px;
}
@media (min-width: 992px) {
  main {
    width: 60%;
    max-width: 1200px;
  }
}
@media (min-width: 768px) {
  main {
    width: 80%;
  }
}
@media (min-width: 576px) {
  main {
    width: 90%;
    margin: auto;
  }
}
