footer {
  position: relative;
  width: 100%;
  gap: 0px;
  bottom: 0;
  border-top: 2px solid gray;
  margin: 5px;
  padding-top: 10px;
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
  background: none !important;
}
.footer {
  padding: 30px 0 !important;
}
.workingWithUs {
  text-align: center;

  margin: 0;
  font-weight: bold;
}

.workingWithUs p {
  color: gray;
  margin: 0;
}
.emailAddress {
  color: rgb(255, 183, 2) !important;
  font-weight: bold;
  user-select: all;
  font-size: 16px;
}
.social-links,
.socialConnection {
  position: relative;

  margin: 0;

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}
.social-links ul,
.socialConnection ul {
  display: flex;
  list-style: none;
  gap: 0 10px;
  margin: 0;
}
.social-links ul li,
.socialConnection ul li {
  border-radius: 10px 10px;
  padding: 6px;
  background-color: white;
}

.social-links ul li img,
.socialConnection ul li img {
  width: 30px;
}

.footer .footerMenuListing {
  /* position: relative; */
  display: flex;
  top: 0;
  bottom: 0;
  margin: 0;

  text-align: center;
}

.footer .footerMenuListing a {
  text-decoration: none;
  color: gray;
}

.footerMenuListing ul {
  list-style: none;
  display: flex;

  padding: 0;
  margin: auto;
  font-size: 12px;
}
.footerMenuListing ul li:hover {
  transition: ease 0.5s;
  transform: scale(1.2);
  text-shadow: 0 0 4px rgb(17, 207, 198);
}
.copyright {
  text-align: center;
}
.copyright p {
  margin: 0;
  padding: 0;
}
.footerMenuListing ul li a {
  color: gray;
  text-decoration: none;
  gap: 10px;
}
footer div p {
  text-align: center;
}
@media (min-width: 768px) {
  .workingWithUs {
    font-size: 30px;
  }
  .footerMenuListing ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: auto;
    font-size: 20px;
  }
}
