main {
  margin: auto;
  max-width: 1200px;
}

.text-content {
  padding: 0 10px;
}
.content-container article {
  display: block;
  margin-top: 50px;
  margin: auto;
}

.image-container img {
  width: 100%;

  object-fit: contain;
}
@media (min-width: 992px) {
  main {
    width: 60%;
    max-width: 1200px;
  }
}
@media (min-width: 768px) {
  main {
    width: 80%;
  }
  .content-container article {
    display: flex;
    margin-top: 50px;
  }
  .image-container {
    width: 50%;
  }
  .image-container img {
    width: 100%;

    object-fit: contain;
  }
  .text-content {
    padding: 0 10px;
    width: 50%;
  }
}
@media (min-width: 576px) {
  main {
    width: 90%;
    margin: auto;
  }
}
