@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html,
body {
  font-size: 14px;
  font-family: Lato;
  background-color: #333333;
}
a {
  text-decoration: none;
}
.testimonial {
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #e2e8f0;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140, 152, 164, 0.125);
}
.testimonial img {
  width: 90px !important;
  height: 90px !important;
  border-radius: 50px;
}
.testimonial p {
  font-size: 16px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}
.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 50px;
}
.owl-carousel .owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #343434 !important;
  margin-right: 10px;
}
.owl-carousel .owl-dots .active {
  border: 1px solid #ea4020 !important;
  background: #ea4020;
}
@media only screen and (max-width: 768px) {
  .testimonial img {
    width: 100% !important;
    height: auto !important;
  }
}
